{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FarPic</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="{% static 'app/sliding_menu_mod.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'app/login_mod.css' %}" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function () {
            changeContent = function (key) {
                html = textHash[key];
                $('#content').html(html);
            }

            $("#menu a").click(function (e) {
                $('#menu').collapse('hide');
                changeContent(e.target.innerText);
            });

            textHash = {
                "Futurama": "<h1>Bendin' in the Wind</h1><p>Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by \"devil\", I mean Robot Devil.  And by \"metaphorically\", I mean get your coat. Say what? Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars. Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! Michelle, I don't regret this, but I both rue and lament it.</p>",
                "Star Wars": "<h1>The Empire Strikes Back</h1><p>Remember, a Jedi can feel the Force flowing through him. Look, I can take you as far as Anchorhead. You can get a transport there to Mos Eisley or wherever you're going. She must have hidden the plans in the escape pod. Send a detachment down to retrieve them, and see to it personally, Commander. There'll be no one to stop us this time!</p>",
                "Doctor Who": "<h1>The Poison Sky</h1><p>Stop talking, brain thinking. Hush. You hit me with a cricket bat. You've swallowed a planet! Stop talking, brain thinking. Hush. It's a fez. I wear a fez now. Fezes are cool. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?</p>"
            };
        });//]]>
    </script>
</head>

<body>

<div class="viewport">
    <div class="frame">
        <div id="menu" class="menu nav-collapse collapse width">
            <div class="collapse-inner">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        Menu
                    </div>
                </div>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a>Futurama</a></li>
                    <li><a>Star Wars</a></li>
                    <li><a>Doctor Who</a></li>
                </ul>
            </div>
        </div>

        <div class="view">
            <div class="row">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#menu">
                            <span class="icon-bar">Test1</span>
                            <span class="icon-bar">Test2</span>
                            <span class="icon-bar">Test3</span>
                        </button>
                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>