{% extends "home_slide_menu.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container image_grid_background">
        <div class="row no-gutter">
            {% if categories %}
                {% for selected_category in categories %}
                    <div class="col-xs-4 col-md-3 col-lg-2">
                        <a href="#" class="thumbnail_no_margin">
                            <div class="image">
                                <img src="{{ selected_category.image.url }}"
                                     alt="Generic placeholder thumbnail" class="img img-responsive full-width">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No categories</p>
            {% endif %}
        </div>
        <div class="row">
            <form action='do_logout' method="post">
                <div class="col-xs-12 col-md-12 buttonBoxCenter"><input type="submit" value=" Log out" name="submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

