{% extends "home_slide_menu.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid image_grid_background">
        <div class="row no-gutter">
            {% if categories %}
                {% for selected_category in categories %}
                    <div class="col-xs-4 col-md-3 col-lg-2">
                        <a href="#" class="thumbnail_no_margin">
                            <div class="image">
                                <img src="{{ selected_category.image.url }}"
                                     alt="Generic placeholder thumbnail" class="img img-responsive full-width">
                                {#                                {{ selected_category.name }}#}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No categories</p>
            {% endif %}
        </div>
        <div class="row">
        </div>
    </div>

    <div class="bottom-bar">
        <div class="col-md-4 col-md-offset-4 col-xs-12 col-lg-4 col-lg-offset-4">
            <div class="col-md-3 col-xs-3 col-lg-3"><span><img src="{% static "app/bottom_bar_home.png" %}"></span>
            </div>
            <div class="col-md-3 col-xs-3 col-lg-3"><span><img src="{% static "app/bottom_bar_upload.png" %}"></span>
            </div>
            <div class="col-md-3 col-xs-3 col-lg-3"><span><img src="{% static "app/bottom_bar_favorite.png" %}"></span>
            </div>
            <div class="col-md-3 col-xs-3 col-lg-3"><span><img src="{% static "app/bottom_bar_trophy.png" %}"></span>
            </div>
        </div>
    </div>
{% endblock %}

