{% extends "home_slide_menu.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="profile-container"
                 style="background-image: url('{% if user_profile.profile_image %} {{ user_profile.profile_image.url }} {% endif %}');">
                <div class="profile-name">{{ user_profile.get_full_name }}</div>
                <img src="{% if user_profile.profile_image %} {{ user_profile.profile_image.url }} {% endif %}"
                     class="circle" id="circle">
            </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-offset-3 col-md-offset-3  col-lg-offset-4 content-box">

{#            <div class="photos">#}
{#                <a href="{% url 'likes' %}" class="thumbnail_no_margin">{{ pic_count }} PHOTOS</a>#}
{#            </div>#}

\


        <div class="col-xs-12 col-md-12 col-sm-12 col-md-12 col-lg-12 textCenter">
                <a href="{% url 'likes' %}" class="thumbnail_no_margin">{{ like_pic_count }} LIKES</a> | <a href="{% url 'uploaded' %}" class="thumbnail_no_margin">{{ uploaded_pic_count }} UPLOADS</a>


            </div>

{#            <div class="col-xs-12 col-md-12 textCenter">#}
{#                <a href="{% url 'uploaded' %}" class="thumbnail_no_margin">{{ uploaded_pic_count }} UPLOADED PHOTOS</a>#}
{##}
{#            </div>#}



            <div class="col-xs-12 col-md-12 buttonBoxCenter"><button type="button" value="Sign In with Facebook "
                                                                    name="submit"><img class="buttonIcon" src="{% static "app/facebook_icon.png" %}">Sign In with Facebook</button></div>
            <div class="col-xs-12 col-md-12 buttonBoxCenter"><button type="button" value="Sign In with Twitter "
                                                                    name="submit"><img class="buttonIcon" src="{% static "app/twitter_icon.png" %}">Sign In with Twitter</button></div>
            <div class="col-xs-12 col-md-12 buttonBoxCenter"><button type="button" value="Sign In with Google "
                                                                    name="submit"><img class="buttonIcon" src="{% static "app/google_icon.png" %}">Sign In with Google</button></div>


            <input id="id_image" type="file" class="hidden" name="image">
            </div>

        </div>
    </div>

    </body>
    </html>

    <script>
        var isMobile = "";
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            isMobile = "yes";
        } else {
            isMobile = "no";
        }
        $("#circle").click(function () {
            $('#id_image').click();
        });

        $('#id_image').change(function () {
            $("#id_image").hide();
            var formData = new FormData();
            formData.append('action', 'upload_profile_image');
            formData.append('image', $('input[type=file]')[0].files[0]);
            $.ajax({
                url: '/upload_profile_image/',
                type: 'POST',
                data: formData,
                success: function (data) {
                    window.location.href = '/profile';
                },
                //Options to tell JQuery not to process data or worry about content-type
                cache: false,
                contentType: false,
                processData: false
            });
        });

        $("#profile-menu").addClass('menu-active');
        $("#profActive").show();
        $("#profInactive").hide();
        $("#profActive").removeClass("hidden");

    </script>
{% endblock %}

