{% extends "home_slide_menu.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="profile-container-background"
                 style="background-image: url('{% if user_profile.profile_image %} {{ user_profile.profile_image.url }} {% endif %}');"></div>

            <div class="profile-container">
                <div class="profile-name">{{ user_profile.get_full_name }}</div>
                <div  style="background-image: url('{% if user_profile.profile_image %} {{ user_profile.profile_image.url }} {% endif %}');"  class="circle" id="circle"></div>
            </div>

            <div class="profile-container-lower col-xs-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

                    <div class="profile-info col-xs-6 col-md-6 col-lg-6 profile-info-border">
                        <a href="{% url 'likes' %}" class="">
                            {#                            <span>{{ pic_count }}</span>#}
                            <span class="profile-info-text-count">365</span>
                            <span class="profile-info-text">PHOTOS</span>
                        </a>
                    </div>
                    <div class="profile-info col-xs-6 col-md-6 col-lg-6">
                        <a href="{% url 'likes' %}" class="">
                            {#                            <span>{{ pic_count }}</span>#}
                            <span class="profile-info-text-count">20</span>
                            <span class="profile-info-text">FRIENDS</span>
                        </a>
                    </div>

                    {#                <div class="col-xs-12 col-md-12 col-sm-12 col-md-12 col-lg-12 textCenter">#}
                    {#                    <a href="{% url 'likes' %}" class="thumbnail_no_margin">{{ like_pic_count }} LIKES</a> | <a#}
                    {#                        href="{% url 'uploaded' %}" class="thumbnail_no_margin">{{ uploaded_pic_count }} UPLOADS</a>#}
                    {#                </div>#}

                    <div class="buttonBoxCenter">
                        <button type="button" value="Facebook "
                                name="submit" target="blank" class="profile-button profile-facebook-button"
                                onclick="window.location.href='https://www.facebook.com/sharer/sharer.php?u=https://www.farpic.com/&t=fb'">
                            <img class="buttonIcon" src="{% static "app/facebook_icon.png" %}">Facebook
                        </button>
                    </div>
                    <div class="buttonBoxCenter">
                        <button type="button" value="Twitter "
                                name="submit" target="_blank" class="profile-button profile-twitter-button"
                                onclick="window.location.href='https://twitter.com/share?text=Share%20Farpic%20with%20your%20friends%20and%20family%20today!&hashtags=Farpic'">
                            <img class="buttonIcon" src="{% static "app/twitter_icon.png" %}">Twitter
                        </button>
                    </div>
                    <div class="buttonBoxCenter">
                        <button type="button" value="Email "
                                name="submit" target="_blank" class="profile-button profile-email-button"
                                onclick="window.location.href='mailto:mobapps.aptwei@gmail.com?subject=&body= Share Farpic with your friends and family today! #Farpic'">
                            <img class="buttonIcon" src="{% static "app/email_icon.png" %}">Email
                        </button>
                    </div>

                    <input id="id_image" type="file" class="hidden" name="image">
                </div>
            </div>
        </div>
    </div>

    <script>
        var isMobile = "";
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            isMobile = "yes";
        } else {
            isMobile = "no";
        }
        $("#circle").click(function () {
            $('#id_image').click();
        });

        $('#id_image').change(function () {
            $("#id_image").hide();
            var formData = new FormData();
            formData.append('action', 'upload_profile_image');
            formData.append('image', $('input[type=file]')[0].files[0]);
            $.ajax({
                url: '/upload_profile_image/',
                type: 'POST',
                data: formData,
                success: function (data) {
                    window.location.href = '/profile';
                },
                //Options to tell JQuery not to process data or worry about content-type
                cache: false,
                contentType: false,
                processData: false
            });
        });

        $("#profile-menu").addClass('menu-active');
        $("#profActive").show();
        $("#profInactive").hide();
        $("#profActive").removeClass("hidden");

    </script>
{% endblock %}

