{% extends "home_slide_menu.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="picture-cover"
                 style="background-image: url('{% if picture.image %} {{ picture.image.url }} {% endif %}');">
            </div>
        </div>
            <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-offset-3 col-md-offset-3  col-lg-offset-4 content-box">

                <form action='abuse_picture/{{ picture.id }}' method="post">
                    {% if error_message %}
                        <div class="alert bg-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {{ error_message }}
                        </div>
                    {% endif %}

                    <div class="col-md-12"><input type="text" name="subject" id="name"
                                                  placeholder="Subject"></div>
                    <div class="col-md-12"><textarea required="required" name="comment" id="name"
                                                     placeholder="Comment" rows="3"></textarea></div>
                    <div class="col-xs-12 col-md-12 buttonBoxCenter"><input type="submit" value=" Report "
                                                                            name="submit">
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
